<dl class='metadata-block'>
  {% for item in include.meta %}
    {% if item.value contains 'page.' %}
      {% assign key = item.value | remove: 'page.' %}
      {% assign value = page[key] %}
    {% else %}
      {% assign value = item.value %}
    {% endif %}

    {% if item.type == 'link' %}
      {% if key == 'manifest' %}
        {%- capture value -%}
          <a href="{{ value | absolute_url }}" target="_blank" rel="noreferrer">{{ value | absolute_url }}</a>
        {%- endcapture -%}
      {% else %}
        {%- capture value -%}
          <a href="{{ value | absolute_url }}" target="_blank" rel="noreferrer">
            {{ value | absolute_url | remove: 'https://' | remove: 'http://' | split: "/" | first }}
          </a>
        {%- endcapture -%}
      {% endif %}
    {% endif %}
	{% if page.label == ''}
	  { % else %}
        <dt>{{ item.label }}</dt>
        <dd>{{ value | strip }}</dd>
	{% endif %}
	{% if page.object_type == ''}
	  {% else %}
        <dt>{{ item.label }}</dt>
        <dd>{{ value | strip }}</dd>
	{% endif %}
	{% if page.genre == ''}
	  { % else %}
        <dt>{{ item.label }}</dt>
        <dd>{{ value | strip }}</dd>
	{% endif %}
	{% if page.realdate == ''}
	  { % else %}
        <dt>{{ item.label }}</dt>
        <dd>{{ value | strip }}</dd>
	{% endif %}
	{% if page.height_cm == ''}
	  { % else %}
        <dt>{{ item.label }}</dt>
        <dd>{{ value | strip }}</dd>
	{% endif %}
	{% if page.width_cm == ''}
	  { % else %}
        <dt>{{ item.label }}</dt>
        <dd>{{ value | strip }}</dd>
	{% endif %}
	{% if page.diameter_cm == ''}
	  { % else %}
        <dt>{{ item.label }}</dt>
        <dd>{{ value | strip }}</dd>
	{% endif %}
	{% if page.plate_dimensions == ''}
	  { % else %}
        <dt>{{ item.label }}</dt>
        <dd>{{ value | strip }}</dd>
	{% endif %}
	{% if page.support == ''}
	  { % else %}
        <dt>{{ item.label }}</dt>
        <dd>{{ value | strip }}</dd>
	{% endif %}
	{% if page.drawing_medium == ''}
	  { % else %}
        <dt>{{ item.label }}</dt>
        <dd>{{ value | strip }}</dd>
	{% endif %}
	{% if page.signature == ''}
	  { % else %}
        <dt>{{ item.label }}</dt>
        <dd>{{ value | strip }}</dd>
	{% endif %}
	{% if page.signature_location == ''}
	  { % else %}
        <dt>{{ item.label }}</dt>
        <dd>{{ value | strip }}</dd>
	{% endif %}
	{% if page.support_marks == ''}
	  { % else %}
        <dt>{{ item.label }}</dt>
        <dd>{{ value | strip }}</dd>
	{% endif %}
	      
	
  {% endfor %}
  
</dl>
